
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Open Sans";
    background-size: 100%;
}
/*  */

.background {
    width: 100%;
    height: 100%;
}

.imgWrapper{
    height: 100%;
    width: 100%;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* background-image: url(../img/bob.jpg); */
    
}

.albumImage {
    left: 90px;
    position: absolute;
    top: 15%;
    left: 90px;
    border: 2px;
    border-radius: 2px;
}

.albumImage img{
    width:300px;
    height: 300px;
    border: 2px;
    border-radius: 25px;
}

#background {
    background-size: cover;
    
}

.newImage{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        background-size: cover;
        left: 50%;
        transform: translate(-50%, -50%);
        
        
}

.newImage > img{
    width: 100%;
    height: 100%;
    
}

.wrapperGradient{
    background: linear-gradient(to right, transparent , rgba(0,0,0, 0.7));
    position:absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textContainer{
    right:0;
    position: absolute;
    
}

h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 100px;
    width: 500px;
    margin: 40px 40px 0px 0px;
    line-height: .8;
    font-weight: 800;
    text-align: right;
    opacity: .5;
}

.flex {
    display:flex;
}

h2{
    margin:0;
    -webkit-text-stroke: .2px black;
}

.container1{
    transform: translate(-50%, -50%);
    left: 28%;
    top: 91%;
    position: absolute;
    color:white;
    width: 50%;
}

.form-control{
    margin: 10px 0;
    border: 2px;
    border-radius: 10px;
    font-size: 25px;
    padding: 30px;
    width: 400px;
    opacity: .5;
}

.form-control:hover{
    opacity: .9;
}

#img{
    position: absolute;
    bottom: 120px;
}

#songPreview{
    position: absolute;
    margin: 275px 0px 0px 0px;
    width: 200px;
    display:none;
    z-index: 500;
}

.bottomBar{
    bottom: 40px;
    position: absolute;
    left: 40px;
}

.animation{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    position: absolute;
    display:none;
}

.displayBlock{
    display:block !important;
}

.displayNone{
    display:none !important;
}

.results {
    position: absolute;
    top: 15%;
    left: 90px;
    transform: translate(-50%, -50%);
    border: 2px;
    border-radius: 25px;
    
}
